.verSpan{
    text-align: center;
    color: white;
    background-color: #0275d8;
    padding: 3px 5px;
    margin-right:5px;
    border-radius: 5px;
}
.verSpanPublish{
    text-align: center;
    color: white;
    background-color: #3F9310;
    padding: 3px 5px;
    margin-right:5px;
    border-radius: 5px;
}
.version-label label{
    float: right;
    margin-right:5px;
}
.version-row{
    line-height: 26px;
}
.version-label{
    margin-right: 30px;
}
.input-number nz-input-number{
    width: 50px;
}
.avatar{
    /* margin-right: 10px; */
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-size: 30px 30px;
    background-color: #ccc;
    vertical-align: middle;
}
.cAdmin{
    display: inline;
}